*.o
*.lo
*.la
Makefile
Makefile.in

/src/.deps
/src/.libs
/lib/.deps
/lib/.libs
/src/ea
/.autotools
/.cproject
/.settings/
/.project
/autom4te.cache/
/m4/
/config.h
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
